<!-- Modal para agregar productos -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Agregar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #f8f9fa;">
        <form (ngSubmit)="agregarProducto()">
          <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" id="imagen" (change)="onFileSelected($event)" accept="image/*" required>
          </div>
          <div class="mb-3">
            <label for="productName" class="form-label">Nombre del Producto</label>
            <input type="text" [(ngModel)]="nuevoProducto.Nombre" name="productName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productCategory" class="form-label">Categoría</label>
            <select [(ngModel)]="nuevoProducto.CategoriaId" name="productCategory" class="form-control" required>
              <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">PRECIO</label>
            <input type="number" [(ngModel)]="nuevoProducto.Precio" name="productPrice" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productQuantity" class="form-label">CANTIDAD</label>
            <input type="number" [(ngModel)]="nuevoProducto.Cantidad" name="productQuantity" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productStock" class="form-label">Stock</label>
            <input type="number" [(ngModel)]="nuevoProducto.Stock" name="productStock" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productImage" class="form-label">Imagen (URL)</label>
            <input type="text" [(ngModel)]="nuevoProducto.Imagen" name="productImage" class="form-control">
          </div>
          <div class="mb-3">
            <label for="productQRCode" class="form-label">Código QR (URL)</label>
            <input type="text" [(ngModel)]="nuevoProducto.CodigoQR" name="productQRCode" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary w-100">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar productos -->
<div class="modal fade" id="providerModal" tabindex="-1" aria-labelledby="providerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" style="border-radius: 1rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="providerModalLabel">{{ productoSeleccionado.Id ? 'Editar Producto' : 'Agregar Producto' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #f8f9fa;">
        <form >
          <input type="hidden" [(ngModel)]="productoSeleccionado.Id" name="productId">

          <div class="mb-3">
            <label for="productName" class="form-label">Nombre del Producto</label>
            <input type="text" [(ngModel)]="productoSeleccionado.Nombre" name="productName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productCategory" class="form-label">Categoría</label>
            <select [(ngModel)]="productoSeleccionado.CategoriaId" name="productCategory" class="form-control" required>
              <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Nombre }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">PRECIO</label>
            <input type="number" [(ngModel)]="productoSeleccionado.Precio" name="productPrice" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productQuantity" class="form-label">CANTIDAD</label>
            <input type="number" [(ngModel)]="productoSeleccionado.Cantidad" name="productQuantity" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productStock" class="form-label">Stock</label>
            <input type="number" [(ngModel)]="productoSeleccionado.Stock" name="productStock" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="productImage" class="form-label">Imagen (URL)</label>
            <input type="text" [(ngModel)]="productoSeleccionado.Imagen" name="productImage" class="form-control">
          </div>
          <div class="mb-3">
            <label for="productQRCode" class="form-label">Código QR (URL)</label>
            <input type="text" [(ngModel)]="productoSeleccionado.CodigoQR" name="productQRCode" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary w-100">{{ productoSeleccionado.Id ? 'Actualizar' : 'Agregar' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
